
<center><h1> Customer Segmentation System</h1></center>
<form action="/" method="POST">
    <div class="form-group shadow-textarea" style="margin-top: 30px;text-align: center;color: black;">
        <label for="Customer" class="form-label">Customer Id:</label>
        <input type ="number" name="Customer">
        <label for="Invoice" class="form-label">Invoice No.:</label>
        <input type ="text" name="Invoice">
        <label for="Date" class="form-label"> Date:</label>
        <input type="date" id="Date" name="Date">
        <label for="UP" class="form-label">Unit Price:</label>
        <input type ="text" name="UP">
        <label for="Quantity" class="form-label">Quantity:</label>
        <input type ="number" name="Quantity">
        
        
    </div>
    <br>
    <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary btn-block movie-button" style="background-color: #e5095a;text-align: center;border-color: #e50914;width:100px;" type="submit" >Add</button><br><br>
    </div>
    <div class="form-group" style="text-align: center;">
      <button class="btn btn-primary btn-block movie-button" onclick="location.href='http://127.0.0.1:5000/prediction'" style="background-color: #41de4b;text-align: center;width:100px;" type="button" >Predict</button><br><br>
    </div>
    
</form>
    <br><br>
    <div>

    </div>
<div>
    
</div>
